<div class="row justify-content-md-center view" id="cont">
    <div class="col-md-auto text-center">
        <img src="/media/progresa.png" class="w100">

        <hr>
        <h5>¿Deseas recibir asesorias?</h5>
        <h6>Dirigete a la oficina de la <b>Prof. Marielena Mestas</b></h6>
        <h6>Piso 2, Edif. Laboratorios</h6>
        <a class="btn btn-success btn-block" href="/#/asesores" role="button"><b>Conoce a quienes dan asesorias</b></a>
        
        <hr>
        <p class="text-justify indent">
            Este programa tiene el objetivo de ofrecerle a los estudiantes que se encuentran en su primer
            período de estudios universitarios, un conjunto de herramientas para aprovechar al máximo sus
            destrezas, facilitar el inicio y adaptación del medio universitario, de forma que puedan lograr el
            mejor rendimiento académico.
        </p>
        <p class="text-justify indent">
            Por tal razón, se creó la figura de profesor y estudiante asesor. Ellos, en un horario específico,
            les brindarán asesorias en las materias donde presentan mayor dificultad.
        </p>
       

        <!-- <hr>
        <h5>¿Deseas postularte como estudiante asesor?</h5>
        <h6><a href="forms.gle/AAtgPg1Z2W19Pd3b8">Llena el formulario</a></h6>
        <hr> -->
        
        <br>
    </div>
</div>